@font-face
  font-family: 'School Book'
  src: url('../fonts/School Book New.eot')
  src: url('../fonts/School Book New.eot') format('embedded-opentype'), url('../fonts/School Book New.woff') format('woff2'), url('../fonts/School Book New.woff') format('woff'), url('../fonts/School Book New.ttf') format('truetype'), url('../fonts/School Book New.svg') format('svg')
  font-weight: normal
  font-style: normal

@import url('https://fonts.googleapis.com/css?family=Quicksand')

$main-font: 'Quicksand', sans-serif
$secondary-font: "Quicksand", sans-serif

$green: #31d670
$darkgreen: #2ca852
$turquoise: #36edb6
$darkturquoise: #2bb085
$blue: #194bff
$darkblue: #163196

body
  background-color: #f6f6f6
  font-family: $main-font
  height: 100vh
  width: 100vw
  overflow: hidden
//
//.school-book
//  font-family: "School Book", sans-serif

a:hover, a:focus, a:active
  text-decoration: none
  outline-color: transparent

.mt-0
  margin-top: 0

.mb-30
  margin-bottom: 30px

.ml-10
  margin-left: 10px

.mt-15
  margin-top: 15px

.mt-30
  margin-top: 30px

.mb-30
  margin-bottom: 30px

.mt-20
  margin-top: 20px

.mb-20
  margin-bottom: 20px

.mr-15
  margin-right: 15px

#navbar
  width: 100vw
  background: #194bff
  background: -moz-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%)
  background: -webkit-linear-gradient(left, #194bff 0%,#36edb6 57%,#31d670 100%)
  background: linear-gradient(to right, #194bff 0%,#36edb6 57%,#31d670 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 )
  height: 60px
  #menu-buttons-right
    a
      color: white
      display: inline-block
      width: 40px
      height: 40px
      text-align: center
      font-size: 22px
      line-height: 40px
      border: 1px solid white
      border-radius: 8px
      margin: 10px 10px 10px 0
    #username
      color: white
      display: inline-block
      height: 40px
      line-height: 40px
      font-size: 18px
      margin-right: 20px
  #menu-btn
    color: white
    border: 1px solid white
    height: 40px
    width: 40px
    display: inline-block
    margin-top: 10px
    margin-left: 10px
    border-radius: 8px
    line-height: 40px
    text-align: center
    cursor: pointer

#side-menu
  height: calc(100vh - 60px)
  background-color: white
  width: 60px
  position: absolute
  left: 0
  top: 60px
  ul
    list-style: none
    padding-left: 0
    a
      display: block
      width: 100%
      height: 60px
      line-height: 60px
      text-align: center
      font-size: 22px
      color: $blue
      -webkit-transition: .5s
      -moz-transition: .5s
      -ms-transition: .5s
      -o-transition: .5s
      transition: .5s
      &:hover
        background-color: $blue
        color: white
    li
      position: relative
    .link-name
      position: absolute
      left: 60px
      top: 0
      display: none
      height: 60px
      width: auto
      border-radius: 0 10px 10px 0
      padding: 0 15px
      font-size: 12px
      background-color: white
      white-space: nowrap
    li:hover .link-name
      display: block
      color: $blue
      z-index: 9999
    a .link-name:hover
      color: $blue



#side-menu-details
  height: calc(100vh - 60px)
  position: absolute
  width: 170px
  left: 60px
  top: 60px
  background-color: white
  transition: .5s
  opacity: 0
  visibility: hidden
  z-index: 99999
  box-shadow: 4px 13px 7px rgba(157, 157, 157, 0.12)
  &.open
    opacity: 1
    visibility: visible
  ul
    list-style: none
    padding-left: 0
    a
      display: block
      width: 100%
      height: 60px
      line-height: 60px
      font-family: $secondary-font
      font-size: 16px
      padding-left: 15px
      color: $blue
      -webkit-transition: .5s
      -moz-transition: .5s
      -ms-transition: .5s
      -o-transition: .5s
      transition: .5s
      &:hover
        background-color: $blue
        color: white

#page-content
  width: calc(100vw - 60px)
  overflow-x: hidden
  overflow-y: auto
  height: calc(100vh - 60px)
  margin-left: 60px
  padding: 40px


.dashboard-card
  background-color: white
  border: .5px solid #e3e3e3
  border-radius: 4px
  padding: 30px
  width: 100%
  text-align: center
  margin-bottom: 15px
  margin-top: 15px
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s
  h1
    font-family: $secondary-font
    color: $green
  p
    font-size: 18px
    font-family: $main-font
  &:hover
    box-shadow: 5px 7px 11px rgba(157, 157, 157, 0.12)
  a
    display: inline-block
    margin: 15px auto
    padding: 10px 16px
    background-color: $green
    color: white
    border-radius: 4px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
    opacity: .6
  &:hover a
    opacity: 1
    text-decoration: none
    outline-color: transparent

.vertical-align
  position: relative
  top: 50%
  transform: translateY(-66%)

.btn
  border-radius: 4px
  color: gray
  border: 1px solid gray
  background-color: transparent
  -webkit-transition: .5s
  -moz-transition: .5s 
  -ms-transition: .5s 
  -o-transition: .5s 
  transition: .5s 
  &.green, &.turquoise, &.blue
    color: white
  &.green
    background-color: $green
    border-color: $green
    &:hover
      background-color: $darkgreen
        border-color: $darkgreen
  &.blue
    background-color: $blue
    border-color: $blue
    &:hover
      background-color: $darkblue
      border-color: $darkblue
  &.turquoise
    background-color: $turquoise
    border-color: $turquoise
    &:hover
      background-color: $darkturquoise
      border-color: $darkturquoise

input
  background-color: transparent
  border: none
  border-bottom: 1px solid $green
  padding: 10px
  width: 100%
  &:focus
    outline: transparent

select.form-control
  background-color: transparent !important
  border-bottom: 1px solid $green !important
  border-top: none
  border-left: none
  border-right: none
  border-radius: 0
  width: 100%
  //padding: 10px
  box-shadow: none !important
  &:focus
    outline: transparent

textarea
  background-color: transparent
  border: 1px solid $green
  padding: 10px
  width: 100%
  &:focus
    outline: transparent

ul.unstyled
  list-style: none
  padding-left: 0


thead
  background-color: $green
  color: white

.table>thead>tr>th
  border-bottom: none

tr:hover
  background-color: rgba(49, 214, 112, 0.49)

#loginpage
  position: relative

#loginbg
  height: 100vh
  width: 100vw
  object-fit: cover

.bg-overlay
  background: rgba(25, 75, 255, 0.66)
  background: -moz-linear-gradient(left, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.65) 57%, rgba(49, 214, 112, 0.65) 100%)
  background: -webkit-linear-gradient(left, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.65) 57%, rgba(49, 214, 112, 0.66) 100%)
  background: linear-gradient(to right, rgba(25, 75, 255, 0.65) 0%, rgba(54, 237, 182, 0.66) 57%, rgba(49, 214, 112, 0.65) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 )
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  text-align: center

#login-box
  display: inline-block
  margin: 0 auto
  position: relative
  top: 250px
  background-color: white
  border-radius: 4px
  padding: 40px 30px
  width: 310px
  button
    width: 100%
    margin-top: 20px

.green-text
  color: $green

//=============================================

#side-menu, #side-menu-details
  a.active
    i
      border-radius: 8px
      border: 1px solid $blue
      padding: 9px
      background: $blue
      color: white

.modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)


.modal-content
  background-color: #fefefe
  padding: 20px
  border: 1px solid #888
  width: 80%
  margin: 10vh auto
  height: auto


.close
  color: #6e6e6e
  float: right
  font-size: 36px
  font-weight: bold


.close:hover,
.close:focus
  color: black
  text-decoration: none
  cursor: pointer


.student-table
  td:nth-child(2)
    text-align: center

.modal-table
  height: 100%
  overflow-y: auto

.modal-buttons-section
  position: absolute
  bottom: 15px
  width: 100%
  text-align: right
  right: 20px
  .btn
    margin-left: 10px

.breadcrumb
  background: #194bff
  background: -moz-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%)
  background: -webkit-linear-gradient(left, #194bff 0%,#36edb6 57%,#31d670 100%)
  background: linear-gradient(to right, #194bff 0%,#36edb6 57%,#31d670 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 )
  a
    color: white

.breadcrumb>.active
  color: #35ebb2

.assign-box
  background-color: white
  padding: 0 30px 30px 30px
  border-radius: 8px
  h3
    text-align: center
    background-color: $green
    margin: 0 -30px 30px -30px
    color: white
    border-radius: 8px 8px 0 0
    padding: 20px 0
  .content
    max-height: 350px
    height: 350px
    overflow-y: auto

.full-width
  width: 100%


.full-width-button
  width: 100% !important

.modal-backdrop.in
  z-index: 0 !important

.dashboard-modal
  height: 363px
#login-right
  float: left
  p
    color: #6b99c5
    font-weight: bolder
    line-height: 16px
  img
    width: 150px

.title-app
  font-size: 21px
  margin-top: 0
  color: $green
  margin-bottom: 0

input
  background-color: transparent

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px white inset

.login-title
  font-size: 20px
  margin-top: 0
  color: $green
  margin-bottom: 10px

#login-box
  width: auto
  form
    float: right
    width: 280px
    padding-left: 15px
    margin-left: 15px
    border-left: 1px solid #36edb6

.mb-0
  margin-bottom: 0

.prev-next-week
  background: #194bff
  background: -moz-linear-gradient(left, #194bff 0%, #36edb6 57%, #31d670 100%)
  background: -webkit-linear-gradient(left, #194bff 0%,#36edb6 57%,#31d670 100%)
  background: linear-gradient(to right, #194bff 0%,#36edb6 57%,#31d670 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194bff', endColorstr='#31d670',GradientType=1 )
  padding: 10px
  margin-bottom: 15px
  border-radius: 4px
  a
    color: white
    -webkit-transition: all .3s linear
    -moz-transition: all .3s linear
    -ms-transition: all .3s linear
    -o-transition: all .3s linear
    transition: all .3s linear
    &:first-of-type:hover
      color: $green
      font-weight: bolder
    &:nth-of-type(2):hover
      color: $blue
      font-weight: bolder

.modal-header .close
  margin-top: -8px

.reports-nav-tabs
  border-color: $blue
  border-bottom-width: 3px
  &.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
    background-color: $blue
    border-color: $blue
    color: white
    border-bottom: 0

.nav-tabs.reports-nav-tabs > li > a
  border: none
  color: $blue

.nav-tabs.reports-nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
  border: none

.nav>li>a:focus, .nav>li>a:hover
  background-color: transparent

#disciplines_wrapper, #example_wrapper
  padding-top: 40px


input[type="checkbox"]
  width: auto

@media (max-width: 1257px)
  h1
    font-size: 28px

@media (min-width: 768px) and (max-width: 991px)
  .dashboard-card
    padding: 8px
    h1
      font-size: 22px
      margin-top: 10px
      margin-bottom: 0
    a
      font-size: 13px
      padding: 10px 8px